<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="f-info-brand">&copy; 2025 AirBnb Private Limited</div>
    <div class="f-info-links">
      <a class="privacy" href="">Privacy</a>
      <a class="terms" href="">Terms</a>
      <!-- <a class="sitemap" href=""></a>
      <a class="company-details" href=""></a> -->
    </div>
  </div>
</footer>
