body {
  font-family: "Plus Jakarta Sans", serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar------------------------------------------------------------ */
.navbar {
  height: 5rem;
  background-color: white;
}

.nav-link {
  color: #222222 !important;
}

/* footer------------------------------------------------------------- */
.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 0.4rem;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222222;
}

/* Cards----------------------------------------------------------------------- */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  transition: transform 0.1s ease-in-out, ease-in-out;
}

.listing-card:hover {
  transform: translate(0.1px, -0.1px) scale(1.01);
}

.listing-card img {
  height: 15rem;
  width: 20rem;
}

.card-img-top {
  border-radius: 0.65rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Overlay ---------------------------------------------*/
.card-img-overlay {
  opacity: 0 !important;
}

/* .card-img-overlay:hover {
  opacity: 0.2 !important;
  background-color: white;
} */

/* Add New Listing Page------------------------------------------------------------- */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Listing Page------------------------------------------------------------- */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Listing Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  border: none !important;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;

}

/* Show Page- Reviews Section */
/* My style */
/* .reviews-section {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* Didi Style */
/* .review-card-body h5, p {
  margin-top: 10px;
  padding: 10px 10px ;
} */
